<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/confetti.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" media="(max-width: 768px)" href="/css/style.small.css">
    <script defer src="/js/functions.js"></script>
</head>
<body>
    <%- include('partials/header') %>
    <%- include('partials/nav') %>
    <%- body %>
    <%- include('partials/footer') %>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
